<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>


<div th:replace="navbar :: navbar"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img th:src="${movie.icon}" alt="Movie Poster" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-8">
            <h1 th:text="${movie.title}" class="fw-bold">Movie Title</h1>
            <p class="text-muted">Genre: <span th:text="${movie.category}" class="badge bg-primary">genre</span></p>
            <p><strong>Release Date:</strong> <span th:text="${movie.releaseYear}"></span></p>
            <p><strong>Duration:</strong> <span th:text="${movie.duration}"></span></p>
<!--            <p><strong>Director:</strong> John Doe</p>-->
            <p><strong>Rating:</strong> <span th:text="${movie.rating}"></span>/5</p>
            <p><strong>Rate this movie:</strong></p>
            <form th:action="@{/rating/{movieId}(movieId=${movie.id})}" method="post">
                <div class="btn-group" role="group" aria-label="Star rating">
                    <input type="radio" class="btn-check" id="star1" name="rate" value="1">
                    <label class="btn btn-outline-warning" for="star1"><i class="bi bi-star-fill"></i></label>

                    <input type="radio" class="btn-check" id="star2" name="rate" value="2">
                    <label class="btn btn-outline-warning" for="star2"><i class="bi bi-star-fill"></i></label>

                    <input type="radio" class="btn-check" id="star3" name="rate" value="3">
                    <label class="btn btn-outline-warning" for="star3"><i class="bi bi-star-fill"></i></label>

                    <input type="radio" class="btn-check" id="star4" name="rate" value="4">
                    <label class="btn btn-outline-warning" for="star4"><i class="bi bi-star-fill"></i></label>

                    <input type="radio" class="btn-check" id="star5" name="rate" value="5">
                    <label class="btn btn-outline-warning" for="star5"><i class="bi bi-star-fill"></i></label>

                </div>
                <br>
                <button type="submit" class="btn btn-primary mt-2 btn-sm">Submit Rating</button>
            </form>

            <p><strong>Watched:</strong> <span th:text="${movie.watchedTimes}"></span> times</p>
            <p th:text="${movie.description}" class="mt-3"></p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3>User Reviews</h3>
            <form th:action="@{/comment/{movieId}(movieId=${movie.id})}" method="post">

                <div class="form-group">
                    <label for="content">Your Comment</label>
                    <textarea id="content" name="text" class="form-control" rows="3" required></textarea>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit Comment</button>
                <br>
            </form>
            <div class="list-group">
                <div th:each="comment :${comments}" class="list-group-item">
                    <strong th:text="${comment.userDto.username}">Username</strong> <span th:text="${comment.date}"></span>
                    <p th:text="${comment.text}"></p>
                    <br>
                </div>
            </div>
        </div>
    </div>

</div>
<br>
<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>