<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>


<div th:replace="navbar :: navbar"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img th:src="${movie.icon}" alt="Movie Poster" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-8">
            <h1 th:text="${movie.title}" class="fw-bold">Movie Title</h1>
            <p class="text-muted">Genre: <span th:text="${movie.category}" class="badge bg-primary">genre</span></p>
            <p><strong>Release Date:</strong> <span th:text="${movie.releaseYear}"></span></p>
            <p><strong>Duration:</strong> <span th:text="${movie.duration}"></span></p>
<!--            <p><strong>Director:</strong> John Doe</p>-->
            <p><strong>Rating:</strong> <span th:text="${movie.rating}"></span>/10</p>
            <p><strong>Watched:</strong> <span th:text="${movie.watchedTimes}"></span> times</p>
            <p th:text="${movie.description}" class="mt-3"></p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3>User Reviews</h3>
            <div class="list-group">
                <div th:each="comment :${comments}" class="list-group-item">
                    <strong th:text="${comment.userDto.username}">Username</strong> <span th:text="${comment.date}"></span><br>
                    <p th:text="${comment.text}"></p>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>